.footer {
	margin-top: 2rem;
}

.navItems {
	margin-bottom: 1rem;
	padding: 0;
	list-style: none;
}

.navItem,
.navItemright {
	display: inline-block;
	margin-right: 1rem;
}
.navItemRight {
	float: right;
}
