.footer {
	padding-top: 0.5rem;
	font-size: 80%;
	line-height: 150%;
	background: rgb(195 239 225);
}

.app {
	display: flex;
	flex-flow: wrap;
	text-decoration: none;
	gap: 1em;
	align-items: center;
}
.apptitle {
	margin: 0;
	font-size: 1.5em;
}
.appdesc {
	margin: 0;
	vertical-align: bottom;
}
.navItems {
	margin-bottom: 1rem;
	padding: 0;
	list-style: none;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
}

.navItem,
.navItemright {
	display: inline-block;
	margin-right: 1rem;
}
.navItemRight {
	padding-right: 0.5rem;
	margin-top: 1em;
}
.navItemRight p {
	margin-top: 0;
}
