.events {
	border: solid 1px #dedede;
	border-radius: 0.5em;
	line-height: 1.5em;
}
.event {
	position: relative;
	padding: 0.5em;
	border-bottom: solid 1px #dedede;
	cursor: pointer;
}
.event:hover {
	background: #f2fbf3;
}
.event h2 {
	margin: 0.1em 0 0.2em;
	flex-grow: 1;
}

.eventhead {
	display: flex;
}
.controls {
	white-space: nowrap;
}
.controls button {
	margin-right: 0.1em;
}
.controls button:last-child {
	margin: 0;
}
.active,
.active:hover,
.event:active {
	background: #e9f7f2;
}
.active h2 {
	margin-top: 0;
	margin-bottom: 0.6em;
}
.events .event:last-child {
	border: none;
}
