.eventform {
	border: solid 1px #dedede;
	border-radius: 0.5em;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
}
.eventform h2 {
	margin: 0.1em 0 0.2em;
	flex-basis: 100%;
}

.input {
	flex-grow: 1;
}
