.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
.main > header {
	height: 7em;
}
.main > header,
.main > main {
	width: 100%;
}
.main > footer {
	width: 100%;
}
.main > main {
	flex-grow: 4;
}
.padded {
	padding: 0 0.5rem;
}
.centered {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
