.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
.main > header,
.main > main {
	width: 100%;
	max-width: 1024px;
	padding: 0.6rem 1rem;
	padding-top: 0px;
}
.main > footer {
	width: 100%;
}
.main > main {
	flex-grow: 4;
}
.beta {
	background: rgb(189, 47, 47);
	color: white;
	font-family: "Saira Condensed", sans-serif;
	text-align: center;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}
