.container {
	position: relative;
	padding-top: 10px;
	height: 30px;
	display: inline-block;
}
.container div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	left: 50%;
	background: rgb(121 146 138);
	animation: bounce 1s infinite ease-in-out;
}
.container .ball1 {
	animation-delay: 0s;
	margin-right: 1px;
}
.container .ball2 {
	animation-delay: 0.15s;
	margin-right: 1px;
}
.container .ball3 {
	animation-delay: 0.3s;
	margin-right: 1px;
}
.container .ball4 {
	animation-delay: 0.45s;
}

@keyframes bounce {
	0%,
	20% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -1em);
		background: #00ff95;
	}
	80%,
	100% {
		transform: translate(0, 0);
	}
}
